.sml-recipe-box {
  display: inline-block;
  width: 22.5%;
  figure {
    h5 {
      margin-bottom: 5px;
    }
    img {
      width: 100%;
      cursor: pointer;
      float: left;
      border: 5px solid black;
      &:hover {
        padding: 3px;
      }
    }
  }
}