//colors
$grDay: #888888;
$gray-light: #AAAAAA;
$gray-lighter: #F5F5F5;
$brand-color: #ff6565;
$light-color: #FFFFFF;
$dark-color: #000000;

//fonts
$headers-font: 'Arial Black';
$body-font: 'ariel';

$break-point-med: 520px;
$break-point-large : 768px;
